/*
This file is not recommended for color adjustment.
*/
* {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 150%;
    font-family: FZYanSongS\-R\-GB, STZhongsong;
}

/*
fc-list | find "FZ"
fc-list is provided by texlive.
*/