/*
This file is not recommended for color adjustment.
*/
html, body {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 150%;
    font-family: FZJuZhenXinFangS\-R\-GB;
}
/*
fc-list | find "FZ"
fc-list is provided by texlive.
*/